

			@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700");

			/*------------------ animation------------------- */ 

			.ball {
				  display: block;
				  background: black;
				  border-radius: 50%;
				  height: 50vmin;
				  width: 50vmin;
			}

			 .ball.bubble {
				  -webkit-animation: bubble-anim 2s ease-out infinite;
				  animation: bubble-anim 2s ease-out infinite; 
				  position:center;
				  margin-left: auto;
	    		  margin-right: auto;
			}
			}
			 .ball.bubble:before {
			      -webkit-filter: blur(0);
			      filter: blur(0);
			      height: 80%;
			      width: 40%;
			      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
			      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); 
			  }
			 .ball.bubble:after {
			      display: block;
			      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); 
			  }
			 .section.stage {
    			  display: none;
    		 }
			.stage {
				  -webkit-perspective: 12px;
				  -moz-perspective: 1200px;
				  -ms-perspective: 1200px;
				  -o-perspective: 1200px;
				  perspective: 1200px;
				  -webkit-perspective-origin: 50% 50%;
				  -moz-perspective-origin: 50% 50%;
				  -ms-perspective-origin: 50% 50%;
				  -o-perspective-origin: 50% 50%;
				  perspective-origin: 50% 50%;
				      position: absolute;
				    top: calc(50vh - 25vmin);
				    left: calc(50vw - 25vmin);
			}

				@-webkit-keyframes bubble-anim {

					  0% {-webkit-transform: scale(1);
						   transform: scale(1); }

					  20% {-webkit-transform: scaleY(0.95) scaleX(1.05);
						    transform: scaleY(0.95) scaleX(1.05); }

					  48% {-webkit-transform: scaleY(1.1) scaleX(0.9);
						    transform: scaleY(1.1) scaleX(0.9); }

					  68% {-webkit-transform: scaleY(0.98) scaleX(1.02);
						    transform: scaleY(0.98) scaleX(1.02); }

					  80% {-webkit-transform: scaleY(1.02) scaleX(0.98);
						    transform: scaleY(1.02) scaleX(0.98); }

					  97%, 100% {-webkit-transform: scale(1);
						    	transform: scale(1); } 
				}

			@keyframes bubble-anim {

					  0% {-webkit-transform: scale(1);
						    transform: scale(1); }

					  20% {-webkit-transform: scaleY(0.95) scaleX(1.05);
						    transform: scaleY(0.95) scaleX(1.05); }

					  48% {-webkit-transform: scaleY(1.1) scaleX(0.9);
						    transform: scaleY(1.1) scaleX(0.9); }

					  68% {-webkit-transform: scaleY(0.98) scaleX(1.02);
						    transform: scaleY(0.98) scaleX(1.02); }

					  80% {-webkit-transform: scaleY(1.02) scaleX(0.98);
						    transform: scaleY(1.02) scaleX(0.98); }

					  97%, 100% {-webkit-transform: scale(1);
						    transform: scale(1); } 

				}

				main p {
 				float:right;
 				padding-right:170px;
 				padding-top: 300px;
 				display: inline-block;
  				vertical-align: middle;
  				position: relative;

 			}

 			/*------------------ others ------------------- */  

			header {
			 	padding-top:7%!important;
			 	font-size:45px!important;
			 	letter-spacing: 0.1em!important;
			 	display: inline!important;
				font-family: "Source Sans Pro", Helvetica, sans-serif!important;
				color: black!important;
				text-align:center!important;
			 }


			 body {
			 	width:100%;
			 	height:700px;
			 	margin:0;
			 	line-height: 1.5!important;
			 }

			 #content {
			 	padding-top:13%;
			 	font-size:25px;
			 	letter-spacing: 0.1em;
				font-family: "Source Sans Pro", Helvetica, sans-serif;
				color: black;
				text-align:center;
			 }

			 #header {
			 	font-size:150%;
  				font-family: "Source Sans Pro", Helvetica, sans-serif;
 				text-align:center;
 				padding-top:40px;
 				letter-spacing: 0.1em;
			 }

			a {
				text-decoration: none!important;
				font-family: "Source Sans Pro", Helvetica, sans-serif;
			    color: black!important; 
			}	

			p,b  {
				display: inline;
				letter-spacing: 0.1em;
				font-family: "Source Sans Pro", Helvetica, sans-serif; 
			}

			/*p {color: #979797!important;}*/ 

			p,b:not(.#right_col p)  {
				line-height: 40px;
			}

			b:hover {
				color: transparent;
   				text-shadow: 0 0 4px rgba(0,0,0,0.5);
			}

			#main:not (.slick-slide) {
  				font-size:25px;
  				font-family: "Source Sans Pro", Helvetica, sans-serif;
 				text-align:center;
 				margin-top:10%;
 			}
/*------------------ bouton back ------------------- */  

			.section {
				width:100%;
				margin-top: 50px;
				margin-bottom:-20px;
				margin-left:45px;	
			}

/*------------------ about ------------------- 

.col-lg-5.offset-lg-1 {

width:10%;} */ 

	section.page-section {
		padding-top:5%;
	}

/*------------------ filtres work -------------------    

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    padding: 0;
    font-family: Arial;
}

/* Center website    
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want)   
.row,
.row > .column {
    padding: 8px;
    padding-top:100px;
}

/* Create three equal columns that floats next to each other */  
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows    
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content  
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements   
.show {
    display: block;
}

/* Style the buttons 
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over 
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button 
.btn.active {
  background-color: #666;
   color: white;

}

/*------------------ nav ------------------- */   

			#nav a {
				display:block;	
			}

			#nav {
				position:fixed;
   				float:left;
  			 	padding-left:10px;
   				bottom:60px;
   				height:100px;
   				width:100%;
   				margin-top: auto;
			}

			#nav span {
				padding-left: 10px;
			    vertical-align: top;
			    line-height:2.6;
			    display:none;
			}

			#nav a:hover span {
				display:inline;
				opacity:0;
			    -moz-animation: anim 0.1s linear forwards 0.1s;
			    -webkit-animation: anim 0.1s linear forwards 0.1s;
			    -o-animation: anim 0.1s linear forwards 0.1s;
			    -ms-animation: anim 0.1s linear forwards 0.1s;
			    animation: anim 0.1s linear forwards 0.1s;
			    width:100%;
			}

			@-moz-keyframes anim {
			   0%  {opacity:0;}
			   100% {opacity:1;}
			}
			@-webkit-keyframes anim {
			   0%  {opacity:0;}
			   100% {opacity:1;}
			}
			@-o-keyframes anim {
			   0%  {opacity:0;}
			   100% {opacity:1;}
			}
			@-ms-keyframes anim {
			   0%  {opacity:0;}
			   100% {opacity:1;}
			}
			@keyframes anim {
			   0%  {opacity:0;}
			   100% {opacity:1;}
			}

			div#nav {
				font-size: 16px;
				font-family: "Source Sans Pro", Helvetica, sans-serif;
			}

			a.dot {
				margin-right:100px;
				margin:0;
				width:100%;
			}

/*------------------ work ------------------- */


		a.work {
			padding:20px;
			letter-spacing: 0.1em;
			} 
	 
		.work:hover {
				color: transparent!important;
   				text-shadow: 0 0 4px rgba(0,0,0,0.5)!important;
		}

/*------------------ about ------------------- */

		.home-content h3 {
   			font-size: 1.8rem!important;
    		text-transform: uppercase!important;
    		letter-spacing: .5rem!important;
    		position: relative!important;
    		padding-left: 100px!important;
    		margin-bottom: .6rem!important;
    		color: #001418!important;
    		margin: 0!important;
    		font-weight: 600!important;
    		font-family: 'Josefin Sans', sans-serif!important;
    	}

    	.home-content h1 {

    		font-family: "librebaskerville-bold", serif!important;
    		font-size: 6rem!important;
    		line-height: 1.1!important;
    		margin-top: 0!important;
    		margin-bottom: 25px!important;
    		padding-left: 20px!important;
    		color: #001418!important;
    		font-weight: 600!important;
    	}


/*------------------ say hello  ------------------- */  

			.icon {
				margin-top:45px;
			}
			img.icon {
				padding:20px;
			}

			img {
    		vertical-align:0!important;
    		}


/*------------------ footer ------------------- */  

			#footer	{
				
   				position:fixed;
   				bottom:-68px;
   				right:30px;
   				height:100px;
   				margin-top: auto;
   				font-size: 11px;
   				display: inline;
				letter-spacing: 0.1em;
				font-family: "Source Sans Pro", Helvetica, sans-serif;
			}

		

/*------------------ responsive ------------------- */  
		
	
   			/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 900px) 

{
			#header {
				font-size:120%!important;
			}

			header {
   				margin:7%;
   				margin-top:20%!important;
   			}

			body {
				height:100%!important;
				width:100%!important;
			}

   			.section {
				width:100%!important;
				margin-top: 30px!important;
				margin-bottom:-10px!important;
				margin-left:0px!important;	
			}

			figure.ball.bubble {
				margin-top: -25%;
			}

   			span.image {
   				height:auto!important;
   				width:auto!important;
   			}

   			#nav {
 				bottom:30px;
 				z-index:200;
   			}

			#nav span {
			    display:inline!important;
			    z-index:200;
			}

			#nav a:hover span {
				opacity:1!important;
				z-index:200;
			}


   		/*	#left_col {
				padding:0;
				width:100%;
   			}

   			img.me {

				padding-top:5%;
				display: block !important;
				z-index:-5;	
				width:50%!important;
				position:center,fixed;
				margin:auto;
   			}

			#right_col {
   				position: absolute;
				padding-top:3%;
				width:77%;
				display: block !important;
				padding-bottom:40px;
   			}

   			#right_col p {
   				position: absolute;
				padding-left:30%;
				display: block!important;
				font-size:80%!important;
				padding-bottom:40px;
				line-height:1.5;
   			}*/

   			a.work {
   				font-size:80%;
   			}

   			img.icon {
   				padding:0!important;
   			}

   			.icon {
   				margin-top:30px!important;
   			}

   			.tiles article > a:hover {
				height:auto!important;
   				width:auto!important;

			}

			#content {
				padding-top: 7%!important;
			}

   			#footer {
   				font-size:8px!important;
   				z-index:100;
   			}


			section.page-section {
				padding-top:10%;
				padding-left:8.5%;
			}

			.row {padding-bottom:5%!important;}

			/* white background on nav */
			.dot span {
			 Fallback for web browsers that don't support RGBa */
    		background-color: rgb(255,255,255);
    		/* RGBa with 0.6 opacity */
    		background-color: rgba(255, 255, 255, 0.6);
    		/* For IE 5.5 - 7*/
    		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    		/* For IE 8*/
    		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    		padding-top: 3px!important;
    		padding-bottom: 3px!important;
    		padding-left: 3px!important;
   			padding-right: 3px!important;
    		}

			/* about */
			
			h3 {
				font-size:50%!important;
				margin-bottom:-5%!important;
			}

			h1 {
				font-size:50%!important;
				line-height:0.9!important;
				font-size:500%!important;
				padding-left:none!important;
			}

			.about-text {
				padding-bottom:25px;
			}

			figure {
				margin-bottom:15%!important;
			}

}


/* ----------- Laptops----------- */
@media only screen and (min-width : 900px) 


{

			#header {
				font-size:150%!important;
			}

			header {
   				margin:7%;
   			}

			body {
				height:500px!important;
				width:100%!important;
			}

   			span.image {
   				height:auto!important;
   			}

   			#nav {
 				bottom:30px;
   			}

   		/*	#left_col {
				padding:0;
				width:100%;
   			}

   			img.me {
				padding-top:5%;
				z-index:-5;	
				position:center,fixed;
				margin:auto;
   			}

			#right_col {
   				position: absolute;
				padding-top:3%;
				width:75%;
				display: block !important;
				padding-bottom:40px;
   			}

   			#right_col p {
   				position: absolute;
   				width:75%;
				padding-left:30%;
				display: block !important;
				padding-bottom:40px;
				line-height:1.5;
   			}*/

   			a.work {
   				font-size:80%;
   			}

   			img.icon {
   				padding:0!important;
   			}

   			.icon {
   				margin-top:30px!important;
   			}

   			.tiles article > a:hover {
				height:auto!important;
   				width:auto!important;

			}

   			#footer {
   				font-size:11px!important;
   			}

}
