

			@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");


/*------------------ nav ------------------- */   

			#nav a {
				display:block;	
			}

			#nav {
				position:fixed;
   				float:left;
  			 	padding-left:10px;
   				bottom:60px;
   				height:100px;
   				width:100%;
   				margin-top: auto;
			}

			#nav span {
				padding-left: 10px;
			    vertical-align: top;
			    line-height:2.6;
			    display:none;
			}

			#nav a:hover span {
				display:inline;
				opacity:0;
			    -moz-animation: anim 0.1s linear forwards 0.1s;
			    -webkit-animation: anim 0.1s linear forwards 0.1s;
			    -o-animation: anim 0.1s linear forwards 0.1s;
			    -ms-animation: anim 0.1s linear forwards 0.1s;
			    animation: anim 0.1s linear forwards 0.1s;
			    width:100%;
			}

			@-moz-keyframes anim {
			   0%  {opacity:0;}
			   100% {opacity:1;}
			}
			@-webkit-keyframes anim {
			   0%  {opacity:0;}
			   100% {opacity:1;}
			}
			@-o-keyframes anim {
			   0%  {opacity:0;}
			   100% {opacity:1;}
			}
			@-ms-keyframes anim {
			   0%  {opacity:0;}
			   100% {opacity:1;}
			}
			@keyframes anim {
			   0%  {opacity:0;}
			   100% {opacity:1;}
			}

			div#nav {
				font-size: 16px;
				font-family: "Source Sans Pro", Helvetica, sans-serif;
			}

			a.dot {
				margin-right:100px;
				margin:0;
				width:100%;
			}


/*------------------ others ------------------- */  

			p,b {
				display: inline;
				letter-spacing: 0.1em;
				line-height: 40px;
				font-family: "Source Sans Pro", Helvetica, sans-serif;
			}

			b:hover {
				color: transparent;
   				text-shadow: 0 0 4px rgba(0,0,0,0.5);
			}

			a {
				text-decoration:none;
				font-family: "Source Sans Pro", Helvetica, sans-serif;
    			color: black; 
			 }

			 body {
			 	width:100%;
			 	height:700px;
			 	margin:0;
			 }

			 header {
			 	padding-top:7%;
			 }

			 #header {
			 	font-size:25px;
  				font-family: "Source Sans Pro", Helvetica, sans-serif;
 				text-align:center;
 				padding-top:40px;

			 }


			#main:not (.slick-slide) {
  				font-size:25px;
  				font-family: "Source Sans Pro", Helvetica, sans-serif;
 				text-align:center;
 				margin-top:10%;
 			}

/*------------------ about ------------------- */ 
 		
			 #wrap {
			   width:1000px;
			   margin:0 auto;
			}
			#left_col {
				padding-top:110px;
			   float:left;
			   width:250px;
			}
			#right_col {
			   float:right;
			   width:600px;
			   text-align: left;
			   padding-top:5%;
			}

			#right_col header {
				text-align: left;
			}

/*------------------ work ------------------- */

.work {
	padding:20px;
	} 
	 

.work:hover {
	color: transparent;
   	text-shadow: 0 0 4px rgba(0,0,0,0.5);
}



/*------------------ carousel ------------------- */  

			.carousel img {
				 filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
				 /* Firefox 10+, Firefox on Android */
				 -webkit-filter: grayscale(100%);
				 filter: grayscale(100%);
				 filter: gray;
				 /* IE 6-9 */
				 -moz-transition: all 0.2s ease-in;
				 -o-transition: all 0.2s ease-in;
				 -webkit-transition: all 0.2s ease-in;
				 transition: all 0.2s ease-in;
		        -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;


			}
			.carousel img:hover {
				  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
				  -webkit-filter: none;
				  filter: none;
				  position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
			}

			.carousel .slick-slide:hover.text {
					visibility:visible;
					color:white;

			}

/*------------------ display carousel ------------------- */  

		

		    .slider {
		    }

			/* espace entre img */  
		    .slick-slide {
		    	padding-top:100px;
		    }

		    .slick-slide img {

		    }
		    .slick-track {
		    	padding:10px;
		    }

		    .carousel figure:nth-child(6) {
		    	display:none;
		    }


/*------------------ animation------------------- */ 

			.ball {
				  display: block;
				  background: black;
				  border-radius: 50%;
				  height: 50vmin;
				  width: 50vmin;
			}
			figure.ball.bubble {
			}
			 .ball.bubble {
				  -webkit-animation: bubble-anim 2s ease-out infinite;
				  animation: bubble-anim 2s ease-out infinite; 
				  position:center;
				  margin-left: auto;
	    		  margin-right: auto;
			}
			}
			 .ball.bubble:before {
			      -webkit-filter: blur(0);
			      filter: blur(0);
			      height: 80%;
			      width: 40%;
			      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
			      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); 
			  }
			 .ball.bubble:after {
			      display: block;
			      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); 
			  }
			 .section.stage {
    			  display: none;
    		 }
			.stage {
				  -webkit-perspective: 12px;
				  -moz-perspective: 1200px;
				  -ms-perspective: 1200px;
				  -o-perspective: 1200px;
				  perspective: 1200px;
				  -webkit-perspective-origin: 50% 50%;
				  -moz-perspective-origin: 50% 50%;
				  -ms-perspective-origin: 50% 50%;
				  -o-perspective-origin: 50% 50%;
				  perspective-origin: 50% 50%;
				      position: absolute;
				    top: calc(50vh - 25vmin);
				    left: calc(50vw - 25vmin);
			}

				@-webkit-keyframes bubble-anim {

					  0% {-webkit-transform: scale(1);
						   transform: scale(1); }

					  20% {-webkit-transform: scaleY(0.95) scaleX(1.05);
						    transform: scaleY(0.95) scaleX(1.05); }

					  48% {-webkit-transform: scaleY(1.1) scaleX(0.9);
						    transform: scaleY(1.1) scaleX(0.9); }

					  68% {-webkit-transform: scaleY(0.98) scaleX(1.02);
						    transform: scaleY(0.98) scaleX(1.02); }

					  80% {-webkit-transform: scaleY(1.02) scaleX(0.98);
						    transform: scaleY(1.02) scaleX(0.98); }

					  97%, 100% {-webkit-transform: scale(1);
						    	transform: scale(1); } 
				}

			@keyframes bubble-anim {

					  0% {-webkit-transform: scale(1);
						    transform: scale(1); }

					  20% {-webkit-transform: scaleY(0.95) scaleX(1.05);
						    transform: scaleY(0.95) scaleX(1.05); }

					  48% {-webkit-transform: scaleY(1.1) scaleX(0.9);
						    transform: scaleY(1.1) scaleX(0.9); }

					  68% {-webkit-transform: scaleY(0.98) scaleX(1.02);
						    transform: scaleY(0.98) scaleX(1.02); }

					  80% {-webkit-transform: scaleY(1.02) scaleX(0.98);
						    transform: scaleY(1.02) scaleX(0.98); }

					  97%, 100% {-webkit-transform: scale(1);
						    transform: scale(1); } 

				}

				main p {
 				float:right;
 				padding-right:170px;
 				padding-top: 300px;
 				display: inline-block;
  				vertical-align: middle;
  				position: relative;

 			}


/*------------------ formulaire ------------------- */   

			@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

			input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
			  color: #aca49c;
			  font-size: 0.875em;
			}

			input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
			  color: #bbb5af;
			}

			input::-moz-placeholder, textarea::-moz-placeholder {
			  color: #aca49c;
			  font-size: 0.875em;
			}

			input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
			  color: #bbb5af;
			}

			input::placeholder, textarea::placeholder {
			  color: #aca49c;
			  font-size: 0.875em;
			}

			input:focus::placeholder, textarea::focus:placeholder {
			  color: #bbb5af;
			}

			input::-ms-placeholder, textarea::-ms-placeholder {
			  color: #aca49c;
			  font-size: 0.875em;
			}

			input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
			  color: #bbb5af;
			}

			/* on hover placeholder */

			input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
			  color: #e2dedb;
			  font-size: 0.875em;
			}

			input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
			  color: #cbc6c1;
			}

			input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
			  color: #e2dedb;
			  font-size: 0.875em;
			}

			input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
			  color: #cbc6c1;
			}

			input:hover::placeholder, textarea:hover::placeholder {
			  color: #e2dedb;
			  font-size: 0.875em;
			}

			input:hover:focus::placeholder, textarea:hover:focus::placeholder {
			  color: #cbc6c1;
			}

			input:hover::placeholder, textarea:hover::placeholder {
			  color: #e2dedb;
			  font-size: 0.875em;
			}

			input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
			  color: #cbc6c1;
			}

			header {
			  position: relative;
			  margin: 100px 0 25px 0;
			  font-size: 2.3em;
			  text-align: center;
			  letter-spacing: 7px;
			}

			#form {
			  position: relative;
			  width: 500px;
			  margin: 50px auto 100px auto;
			}

			input {
			  font-size: 0.875em;
			  width: 470px;
			  height: 50px;
			  padding: 0px 15px 0px 15px;
			  background: transparent;
			  outline: none;
			  color: #726659;
			  border: solid 1px #b3aca7;
			  border-bottom: none;
			  transition: all 0.3s ease-in-out;
			  -webkit-transition: all 0.3s ease-in-out;
			  -moz-transition: all 0.3s ease-in-out;
			  -ms-transition: all 0.3s ease-in-out;
			}

			input:hover {
			  color: #e2dedb;
			}

			textarea {
			  width: 470px;
			  max-width: 470px;
			  height: 110px;
			  max-height: 110px;
			  padding: 15px;
			  background: transparent;
			  outline: none;
			  color: #726659;
			  font-size: 0.875em;
			  border: solid 1px #b3aca7;
			  transition: all 0.3s ease-in-out;
			  -webkit-transition: all 0.3s ease-in-out;
			  -moz-transition: all 0.3s ease-in-out;
			  -ms-transition: all 0.3s ease-in-out;
			}

			textarea:hover {
			  color: #e2dedb;
			}

			#submit {
			  width: 502px;
			  padding: 0;
			  margin: 0px 0px 0px;
			  font-size: 0.875em;
			  color: #b3aca7;
			  outline:none;
			  border: solid 1px #b3aca7;
			}

			#submit:hover {
			  color: #e2dedb;
			  background:black;
			}

/*------------------ icons ------------------- */  

			.icon {
				margin-top:45px;
			}
			img.icon {
				padding:20px;
			}



			

/*------------------ footer ------------------- */  

			#footer	{
				
   				position:fixed;
   				bottom:-60px;
   				right:10px;
   				height:100px;
   				margin-top: auto;
   				font-size: 11px;
			}
		

/*------------------ responsive ------------------- */  
		
	
   			/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 900px) 

{
			#header {
				font-size:120%!important;
			}

			body {
				height:500px!important;
				width:100%!important;
			}

   			span.image {
   				height:auto!important;
   			}

   			a.dot {
   				width:95%!important;
   			}

   			img.icon {
   				padding:0!important;
   			}

   			.tiles article > a:hover {
				height:auto!important;
   				width:auto!important;

			}
			.slick-dots {
				display:none!important;
			}

   			.slick-slide img {
   				display: block !important;	
   				height:50vmin!important;
   				width:50vmin!important;

   			}

   			#footer {
   				font-size:11px!important;
   			}

   			header {
   				margin:7%;
   			}

   			div#left_col {
	   			position: absolute;
				max-width: 80%;
				top: 5%;
				left: 5%;
				display: block !important;
				z-index:-5;	
				margin-left:3%;
   			}

   			div#right_col {
   				position: absolute;
				max-width: 80%;
				top: 80%;
				left: 20%;
				display: block !important;
				font-size:80%;
				padding-bottom:40px;
				display:none;
   			}

   			a.work {
   				font-size:80%;
   				margin-bottom:20px;
   			}
}
/* Tablets ----------- */
@media only screen and (min-width : 900px; max-width : 1224px) 
{
			#header {
				font-size:110%;
			}
			.carousel-text {
   				font-size:80%!important;
   			}	


			.slick-track {
				width: 100% !important;
	    
			}

			span.image {
   				height:auto!important;
   			}

			.slick-list.draggable {
				width: 70% !important;
				display:block!important;
				height:105vmin !important;
    			margin: auto!important;

			}
			.slick-dots {
				display:none!important;
			}

   			.slick-slide {
   				width: 100% !important;	
   			}

   			.tiles article > a:hover {
				height:auto!important;
   				width:auto!important;
			}

			#left_col {
	   			position: absolute;
				max-width: 80%;
				top: 25%;
				left: 10%;
				display: block !important;
				z-index:-5;	
				padding-left:50%;
   			}

   			#right_col {
   				position: absolute;
				max-width: 80%;
				top: 77	%;
				left: 20%;
				display: block !important;
				font-size:80%;
				padding-bottom:40px;
   			}

			#footer {
   				font-size:11px;
   			}

   				div#right_col {
   				position: absolute;
				max-width: 80%;
				top: 80%;
				left: 20%;
				display: block !important;
				font-size:70%;
   			}

   			a.work {
   				font-size:80%;
   			}


}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) 
{
			.carousel-text {
   				font-size:100%!important;
   			}	

   			span.image {
   				height:auto!important;
   			}
   			.tiles article > a:hover {
				height:auto!important;
   				width:auto!important;
			}
			#footer {
   				font-size:11px;
   			}

}
			
