
/* ------------------------------------------------------------------- 
 * ## home content - (_site-layout.scss) 

 * ------------------------------------------------------------------- */
.home-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    padding-bottom:;
    position: relative;
}



.home-content h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    position: relative;
    padding-left: 100px;
    margin-bottom: .6rem;
}


.home-content h3::before {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: black;
    margin-top: -1.5px;
    position: absolute;
    left: 20px;
    top: 50%;
}

/*
.home-content h1 {
    font-family: "librebaskerville-bold", serif;
    font-size: 6rem;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 25px;
    padding-left: 6px;

}
*/

.home-content__main {
    position: relative;
    padding-top: 0px;
}





.home-content__scroll a::after {
    border-bottom: 2px solid #922424;
    border-right: 2px solid #922424;
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    margin-top: -7px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}


